.Person {
    display: inline-block;
    /* margin: 16px auto; */
    margin: 16px 10px;
    width: 20%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;   
}

.Person:hover{
    background-color: green;
    color: white
}

.Person p{
    text-align: left
}